<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Caleb Forbes Portfolio</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>


    <!-- HEADER -->

    <header>

        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom mb-3">

            <div class="container-fluid">

                <!-- Portfolio Title -->

                <a class="navbar-brand"
                   asp-controller="CV"
                   asp-action="Index">

                    Caleb Forbes Portfolio

                </a>

            </div>

        </nav>

    </header>


    <!-- MAIN CONTENT -->

    <div class="container">

        <main role="main" class="pb-3">

            @RenderBody()

        </main>

    </div>


    <!-- FOOTER -->

    <footer class="border-top footer text-muted">

        <div class="container">

            © 2026 Caleb Forbes

        </div>

    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>